@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vjkz0g');
  src:  url('../fonts/icomoon.eot?vjkz0g#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vjkz0g') format('truetype'),
    url('../fonts/icomoon.woff?vjkz0g') format('woff'),
    url('../fonts/icomoon.svg?vjkz0g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error .path1:before {
  content: "\e900";
  color: rgb(253, 107, 109);
}
.icon-error .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-like:before {
  content: "\e90f";
}
.icon-update:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e902";
}
.icon-about:before {
  content: "\e903";
}
.icon-archive:before {
  content: "\e904";
}
.icon-right:before {
  content: "\e905";
}
.icon-left:before {
  content: "\e906";
}
.icon-tag:before {
  content: "\e907";
}
.icon-board:before {
  content: "\e908";
}
.icon-qq:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-follow:before {
  content: "\e90b";
}
.icon-weibo:before {
  content: "\e90c";
}
.icon-create:before {
  content: "\e90d";
}
.icon-music:before {
  content: "\e911";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-smile2:before {
  content: "\e9e2";
}
